#nav-logo-icon .bg-wrap {
    background-color: rgba(255,255,255,0);
}
#header-textbox-2 .bg-wrap {
    background-color: #ded8d0;
}


#header-textbox-2 .bg {
    background-image: url('../images/bg-62.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity:1;
}
#desc-text-halfbg .bg-wrap {
    background: #000;
}#panel-logo-menu .bg-wrap {
    background-color: rgba(0,0,0,0.95);
}
#testimonial-carousel-2 .bg-wrap {
    background-color: #ded8d0;
}

#panel-logo-menu ul li a{
    font-family:"Oswald";
    font-size:21px;
    letter-spacing:2px;
    color:#fff;
    text-transform:uppercase;
}
    #panel-logo-menu ul li a:hover{
        text-style:none;
        color:gold;
    }

#testimonial-carousel-2 .bg {
    background-image: url('../images/bg-58.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity:0.1;
}
#contact-img-map-text .bg-wrap {
    background-color: #F2F0ED;
}
