---
---

//
// IMPORTS
//

//@import "reset";
@import "variables";
// overide kemal

h1{
    @include mobile {
        font-size:2rem;
    }
}

.yellow-btn{
    background-color: #FFF303 !important;
    color: #111 !important;
    border-color: #FFF303 !important;
    font-family:georgia;
}

.yellow-btn:hover{
    background-color: gold !important;
    border-color: gold !important;
}

.green-btn{
    background-color: limegreen !important;
    color: #111 !important;
    border-color: limegreen !important;
}

.green-btn:hover{
    background-color: forestgreen !important;
    color: #111 !important;
}

#jumbotron{
  .bg-default{
    background: #000;
  }
  h1{
    color:#fff;
    -webkit-text-fill-color: #000; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
    span{
        -webkit-text-fill-color: #fff; /* Will override color (regardless of order) */
        -webkit-text-stroke-width: 0px;
        -webkit-text-stroke-color: #fff;     
        display:block;
    }
  }
  h3{
    color:#FFF303;
  }
  p{
    font-size: 21px;
    color:#eee;
  }  
  .isometric-btn{
    background-color: #FFF303 !important;
    color: #111 !important;
    border-color: #FFF303 !important;
    font-size: 21px;
    font-family: georgia !important;
  }
    .isometric-btn:hover{
        background-color: gold !important;
        border-color: gold !important;
    }
}

.vid-cont {
  background: #ddd;
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
}

.vid-cont button[name="play"] {
  width: 150px;
  height: 150px;
  background: #FFF303;
  border: none;
  border-radius: 100%;
  margin: auto;
  cursor: pointer;
}
.vid-cont button[name="play"]:focus {
  outline: 0;
  border: 1px solid hsl(210, 58%, 69%);
  box-shadow: 0 0 0 3px hsla(210, 76%, 57%, 0.5);
}

.vid-cont button[name="play"]::after {
  content: '';
  display: inline-block;
  position: relative;
  top: 5px;
  left: 5px;
  border-style: solid;
  border-width: 20px 0 20px 30px;
  border-color: transparent transparent transparent white;
}

.PageNavigation{
    display:block;
    padding:5px 1rem;
    margin-top:10rem;
    border-bottom:1px solid #ccc;
    .prev{float:left}
    .next{float:right}
    .clearfix{clear:both}
}

.post{
    padding: 0 0 10rem 0;
    
    h1,h2,h3,h4,h5,p,img{
        margin-bottom:2rem;
    }
    
    .date{
        margin-bottom:2.5rem;
        font-family:georgia;
    }
    
    .img-fluid{
        width: 100%;
        padding: 4rem;
        background: yellow;
        margin-bottom: 2.5rem;
    }
    img{
        max-width:100%;
    }
}

#benefits-2col{
    .yellow-btn,
    .yellow-btn:hover,
    .green-btn,
    .green-btn:hover{
        border-color: #FFF !important;
        border-width:1px;
        display:inline-block!important;
        text-align:center!important;
    }
    .green-btn,
    .green-btn:hover{
        background-color:transparent !important;
        color:green !important;
        font-family: monospace;
    }
    .content-box{
        h4{text-transform:uppercase}
        .c1>*{
            display:none;
        }
        .c1>p:nth-child(3){
            display:block;
        }
    }
}

@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');

section[id*='service-'],
section[id*='portfolio-'] {
    hr{
        margin-top: 2rem;
        margin-bottom: 2rem;
        border: none;
        border-top: 1px solid #eee; 
    }
    h2{
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 2rem;
    }
    h3{
        font-size: 1.25rem;
        margin-bottom: 2rem;
    }
    p{
        margin-bottom:2rem;
        img{
            max-width:100%;
        }
    }
    ol {
        list-style: none;
        counter-reset: my-awesome-counter;
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
        margin-bottom:2rem;

        li {
            counter-increment: my-awesome-counter;
            display: flex;
            width: 33%;
            font-size: 20px;
            margin-bottom: 1rem;
            @include mobile{
                width:100%;
                margin-bottom:1rem;
                
            }
        }
        li::before {
            content: "0" counter(my-awesome-counter);
            font-size: 3rem;
            margin-right: 1rem;
            font-family: 'Abril Fatface', serif;
            line-height: 1;
            color:gold;
            position: relative;
            top: -10px;
        }
    }
    
    .punchline{
        font-family:georgia;
        font-style:italic;
    }
}

section[id*='service-']{
    p:nth-child(3),
    hr:nth-child(4),
    p:nth-child(5),
    hr:nth-child(6){
        display:none;
    }
    p{
        img{
            padding:1rem;
            width:100%;
            max-width:320px;
            background:#f6f6f6;
            float:left;
            margin-right:2rem;
            margin-bottom:2rem;
            @include mobile{
                float:none;
                margin-right:0;
                margin-bottom:0;
                max-width:100%;
                padding:0.5rem;
            }
            
        }
    }
    p:nth-child(7){
        img{
            padding:2rem;
            background:yellow;
            width:100%;
            max-width:100%;
            @include mobile{
                padding:1rem;
            }
        }
    }
    hr{
        clear:both;
    }
}

section#portfolio-photowork {
    p{
        text-align:center;
    }
    
    .look{
        padding:2rem;
    }
    
    .portrait{
        width:calc(50% - 3px);
    }
    
    .landscape:nth-child(1){
        background:yellow;
    }
    
    h2{
        text-align:center;
        margin-bottom:2rem;
    }
    
    blockquote{
        padding:2rem;
        p{
            margin-bottom: 0;
            font-size: 1.75rem;
            font-family: georgia;
            font-style: italic;
        }
    }
}

#media-half-carousel{
    background:#f7f7f7;
    .owl-carousel{
        .owl-item{
            .item{
                background:#f7f7f7 !important;
                a{
                    display:block;
                    width:100%;
                    padding-top:30%;
                    position:relative;
                    img{
                        position:absolute;
                        transform: translate(-50%, -50%);
                        top:50%;
                        left:50%;
                        width:75%;
                    }
                }
            }
        }
    }
}

.sosmed-icons{
    a{
        display: inline-block;
        font-size: 28px;
        margin-right: 1rem;
    }
    a:hover{
        text-decoration:none!important;
    }
}


// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
//@import "highlights";
//@import "svg-icons";
