<footer id="footer-text-instagram" class="pt-75 pb-30 dark">
		<div class="container">
			<div class="row">
			<div class="col-md mb-50">
				<h4 class="mb-20"><strong>SERVICES</strong></h4>
				<ul class="list-unstyled padding-list">
					
				{% assign serves = site.services | sort:"date" %}

				{% for layanan in serves %}
					<li><a href="{{ site.baseurl }}{{ layanan.permalink }}">{{ layanan.servicename }}</a></li>

				{% endfor %}
					
				</ul>
			</div>
			<div class="col-md mb-50">
				<h4 class="mb-20"><strong>TREND REPORT</strong></h4>
				<ul class="list-unstyled padding-list">
					
				{% for trend in site.trend limit:5 %}
					<li><a href="{{ site.baseurl }}{{ trend.permalink }}">{{ trend.title }}</a></li>          
				{% endfor %} 	
				
				</ul>
			</div>
			<div class="d-none col-md mb-50">
				<h4 class="mb-30"><strong>Instagram</strong></h4>
				<div class="instafeed" id="footer-text-instagram-instafeed"></div>
			</div>
			<div class="col-md mb-50">
				<h4 class="mb-20"><strong>Gabster GFC</strong></h4>
				<p class="text-secondary">We provide all things fashion related consultation from small MOQ Production, photoshoot, catalog photoworks, omni chanelling, offline to online sales conversion and distribution. We work with the best tools and the best partners.</p>
			</div>
			</div>
		</div>
		<div class="bg-wrap">
			<div class="bg"></div>
		</div>
</footer>
