<section id="benefits-2col" class="pt-50 pt-md-100 pb-md-50 light">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3>WHAT WE DO BEST</h3>
        <svg xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 0 100 20" width="100" class="mb-50 svg-primary"><path d="m0 9h100v2h-100z" fill-rule="evenodd"></path></svg>
      </div>
      
      {% assign serves = site.services | sort:"date" %}
      
      {% for layanan in serves %}

      <div class="col-md-6 content-box mb-50 mb-md-75 d-block text-left">
        <img class="mb-20 img-fluid" src="/images/services/service-1.jpg" />
        <h4 class="mb-20">{{ layanan.servicename }}</h4>
        <div class="c1">
        {{ layanan.content }}
        </div>
        <div class="row ml-0 mr-0 mt-20">
          <a class="col-sm btn btn-primary chat-us-service green-btn" href="https://api.whatsapp.com/send?phone={{site.wa}}&text=Hi%20GABSTER,%20i%20need%20info%20for%20your%20{{site.servicename}}%20services.%20Can%20you%20help%20me?"><i class="fab fa-whatsapp"></i> CHAT NOW</a>
          <a class="col-sm btn btn-primary learn-more-service yellow-btn" href="{{ layanan.permalink }}">LEARN MORE</a>
        </div>
      </div>

      {% endfor %}
        
        <!--<div class="content-box mb-50 mb-md-75 d-block text-left">
          <img class="mb-20 img-fluid" src="/images/services/service-2.jpg" />
          <h4 class="mb-20">PHOTOWORKS & STYLING</h4>
          <p class="mb-20">Lookbook both global and local and catalog.<br/>Our lookbook shoot package includes: model, make up artist, photographer, stylist, and concept. We offer photoshoot both locally - all around Indonesia and overseas such as Europe, USA, and Japan. Our expert will match your budget and deliver the best image quality for you to present to your buyers and customers. We will match your brand direction with the imagery that will be produced. We also have creative direction and styling option for you.</p>
          <div class="row ml-0 mr-0">
            <a class="col-sm btn btn-primary chat-us-service green-btn" href=""><i class="fab fa-whatsapp"></i> CHAT NOW</a>
            <a class="col-sm btn btn-primary learn-more-service yellow-btn" href="">LEARN MORE</a>
          </div>
        </div>
        <div class="content-box mb-50 mb-md-75 d-block text-left">
          <img class="mb-20 img-fluid" src="/images/services/service-6.png" />
          <h4 class="mb-20">GLOBAL DISTRIBUTION</h4>
          <p class="mb-20">GFC aims to see local Indonesian brands worn by global people. With us we try to open the gates for local brands to sell and or collaborate with global brands. GFC will assist and teach each brands to success in global market and match brands with the right stores that meet the right target market.</p>
          <div class="row ml-0 mr-0">
            <a class="col-sm btn btn-primary chat-us-service green-btn" href=""><i class="fab fa-whatsapp"></i> CHAT NOW</a>
            <a class="col-sm btn btn-primary learn-more-service yellow-btn" href="">LEARN MORE</a>
          </div>
        </div>
        <div class="content-box mb-50 mb-md-75 d-block text-left">
          <img class="mb-20 img-fluid" src="/images/services/service-8.png" />
          <h4 class="mb-20">WORKSHOP & SEMINAR</h4>
          <p class="mb-20">Lebih ke past and future workshop sih buat nanti kita update gitu klo past paling ada brief description sama photo" nya klo present ada info nya aja.</p>
          <div class="row ml-0 mr-0">
            <a class="col-sm btn btn-primary chat-us-service green-btn" href=""><i class="fab fa-whatsapp"></i> CHAT NOW</a>
            <a class="col-sm btn btn-primary learn-more-service yellow-btn" href="">LEARN MORE</a>
          </div>
        </div>
        <div class="content-box mb-50 mb-md-75 d-block text-left">
          <img class="mb-20 img-fluid" src="/images/services/service-4.jpg" />
          <h4 class="mb-20">CONSULTING STRATEGIES</h4>
          <p class="mb-20">Our expert can assist you with your fashion confusion needs. We provide strategies from branding, co-branding, design, merchandising, sales, marketing, social media, visual merchandising, and fashion event organization. We do not simply provide you with strategies, we deliver and execute with you. We assist brands from A to Z regarding all of their fashion needs. Our package varies depending on your brand needs.</p>
          <div class="row ml-0 mr-0">
            <a class="col-sm btn btn-primary chat-us-service green-btn" href=""><i class="fab fa-whatsapp"></i> CHAT NOW</a>
            <a class="col-sm btn btn-primary learn-more-service yellow-btn" href="">LEARN MORE</a>
          </div>
        </div>
        <div class="content-box mb-50 mb-md-75 d-block text-left">
          <img class="mb-20 img-fluid" src="/images/services/service-3.jpg" />
          <h4 class="mb-20">SOURCING</h4>
          <p class="mb-20">At GFC you do not need to hassle and worry about running around to get your fabric and trims. We have selections of fabric both knit and woven that you can choose. Our expert will help you to better understand the use of each fabrics and let you know whether the fabric matches your design or not.</p>
          <div class="row ml-0 mr-0">
            <a class="col-sm btn btn-primary chat-us-service green-btn" href=""><i class="fab fa-whatsapp"></i> CHAT NOW</a>
            <a class="col-sm btn btn-primary learn-more-service yellow-btn" href="">LEARN MORE</a>
          </div>
        </div>
        <div class="content-box mb-50 mb-md-75 d-block text-left">
          <img class="mb-20 img-fluid" src="/images/services/service-7.png" />
          <h4 class="mb-20">LOCAL DISTRIBUTION</h4>
          <p class="mb-20">GFC assists global brands who want to enter Indonesia with strategies to enter the Indonesian market. GFC is open to licensing, distribution rights, and more options can be discussed.</p>
          <div class="row ml-0 mr-0">          
            <a class="col-sm btn btn-primary chat-us-service green-btn" href=""><i class="fab fa-whatsapp"></i> CHAT NOW</a>
            <a class="col-sm btn btn-primary learn-more-service yellow-btn" href="">LEARN MORE</a>
          </div>
        </div>
        <div class="content-box mb-50 mb-md-75 d-block text-left">
          <img class="mb-20 img-fluid" src="/images/services/service-9.jpg" />
          <h4 class="mb-20">#GABSTERPEOPLE</h4>
          <p class="mb-20">GABSTER people is a movement to empower other fashion entreprenuers, workers, and students. We share stories from entrepreneurs on how they start the brand, how to maintain their brand, and how to grow them. Each entreprenurs have different side or a story and they all worth watching for. We aim to show the world that fashion industry is not just about glamour, but there is a lot of energy and work put into it. The industry is not as glamorous, but we fashion people enjoy our work and desire to inspire and empower our community.</p>
          <div class="row ml-0 mr-0">
            <a class="col-sm btn btn-primary chat-us-service green-btn" href=""><i class="fab fa-whatsapp"></i> CHAT NOW</a>
            <a class="col-sm btn btn-primary learn-more-service yellow-btn" href="">LEARN MORE</a>
          </div>
        </div>-->
    </div>
  </div>
  <div class="bg-wrap">
    <div class="bg"></div>
  </div>
</section>
