<section id="gallery-half-carousel" class="pt-50 pb-50 pb-md-100 section-carousel gallery carousel-nav-left-bottom carousel-dots-none overall light" style="border-bottom:1px solid #eee">
    <div class="container-fluid offset-left">
        <div class="row">

            <div class="col-12">
                <h3>BRANDS WE'VE WORKED WITH </h3>
                <svg xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 0 100 20" width="100" class="mb-50 svg-primary">
                    <path d="m0 9h100v2h-100z" fill-rule="evenodd"></path>
                </svg>
            </div>
            <div class="col-12">

                <div class="carousel-4item owl-drag">
                    
                    {% for portfolio in site.portfolio limit:10 | sort:"date" | reverse %}
                    
                        <div class="item gallery-item gallery-style-5 text-right padding">
                            <a href="{{site.baseurl}}{{ portfolio.permalink }}">
                                <img src="{{site.baseurl}}{{ portfolio.coverimage }}" alt="" class="item-img">
                            </a>
                            <div class="item-title">
                                <p class="lead text-primary mb-0">{{ portfolio.portfolioname | upcase }}</p>
                                <p><strong>{{ portfolio.portfolioclient }}</strong></p>
                            </div>
                        </div>            
                    
                    {% endfor %} 	
                  
                </div>
            </div>
        </div>
    </div>
    <div class="bg-wrap">
        <div class="bg"></div>
    </div>
</section>
