<header id="header-textbox-2" class="pt-75 pb-75 pt-lg-200 pb-lg-200 light">
  <div class="container">
    <div class="row">
      <div class="col-md-8" id="jumbotron">
        <div class="content-box padding-x4 bg-default">
          <h1><strong>BRINGING YOUR FASHION BUSINESS</strong></h1>
          <h3 class="mb-50 text-primary">TO THE NEXT LEVEL</h3>
          <p>Fashion consulting, fabric sourcing, small MOQ production, lookbook and e-commerce product photoshoot.</p>
          <div class="position-absolute t-100 l-75 centered">
            <a href="#desc-text-halfbg" class="btn btn-dark btn-lg isometric-btn smooth" target="_self">CHAT US NOW </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-wrap">
    <div class="bg"></div>
  </div>
</header>
