<header id="header-textbox-2" class="pt-75 pb-75 pt-lg-200 pb-lg-200 light">
{% for jumbotron in site.jumbotron limit: 1 %}
  <div class="container">
    <div class="row">
      <div class="col-md-12" id="jumbotron">
        <div class="content-box padding-x4 bg-default">
          <h1><strong>{{jumbotron.heading[0]}} <span>{{jumbotron.heading[1]}}</span></strong></h1>
          <h3 class="mb-50 text-primary">{{jumbotron.heading[3]}}</h3>
          {{ jumbotron.content }}
          <div class="pt-50">
            <a href="{{jumbotron.cta[1]}}" class="btn btn-dark btn-lg isometric-btn smooth" target="_self"><i class="fab fa-whatsapp mr-10"></i> {{jumbotron.cta[0]}} </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-wrap" style="">
    <div class="bg" style="background-image: url({{site.url}}{{jumbotron.image}});"></div>
  </div>
{% endfor %}
</header>