<section id="blog-2col-3" class="posts pt-50 pb-100 pt-md-150 pb-md-150 light">
	<div class="container">
	    <div class="row">
		    <div class="col-12">
		      <h3>PORTFOLIO</h3>
		      <svg xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 0 100 20" width="100" class="mb-20 svg-primary"><path d="m0 9h100v2h-100z" fill-rule="evenodd"></path></svg>
		      <p class="mb-50">Brands we've worked with</p>
		    </div>
			{% for portfolio in site.portfolio | sort:"date" | reverse %}
		        <div class="col-12 col-md-6 post-container">
		          <div class="gallery-item gallery-style-8 mb-50 dark padding-x2">
                    <a href="{{site.baseurl}}{{ portfolio.permalink }}">
                        <img src="{{site.baseurl}}{{ portfolio.coverimage }}" alt="" class="item-img">
                    </a>

		            <div class="item-title">
		              <h4><strong>{{ portfolio.portfolioclient }}</strong></h4>
		              <p class="text-secondary mb-0 small">{{ page.date | date: "%B %e, %Y" }} | <a href="#">{{ post.author }}</a></p>
		            </div>

		          </div>
		        </div>
			{% endfor %}
	    </div>
	</div>
</section>