<div id="panel-logo-menu" class="modal-panel fixed-right shadow padding-x3 d-flex flex-column light slide">
  <a class="toogle-btn close position-absolute r-0 t-0 padding-x2"><svg xmlns="http://www.w3.org/2000/svg" height="16" viewBox="0 0 16 16" width="16" class="icon svg-secondary"><path d="m8.07106781 6.65685425 5.65685429-5.65685425 1.4142135 1.41421356-5.65685423 5.65685425 5.65685423 5.65685429-1.4142135 1.4142135-5.65685429-5.65685423-5.65685425 5.65685423-1.41421356-1.4142135 5.65685425-5.65685429-5.65685425-5.65685425 1.41421356-1.41421356z" fill-rule="evenodd"></path></svg></a>
  <ul class="list-unstyled mt-auto mb-auto padding-x2-list">
    <li><a href="{{site.url}}/#benefits-2col">Services</a></li>
    <li><a href="{{site.url}}/#testimonial-carousel-2">Testimonials</a></li>
    <li><a href="{{site.url}}/#gallery-half-carousel">Portfolio</a></li>
    <li><a href="https://api.whatsapp.com/send?phone={{site.wa}}&text=Hi%20GABSTER,%20i%20need%20info%20for%20your%20services.%20Can%20you%20help%20me?">Contact Us</a></li>
  </ul>
  <div class="bg-wrap">
    <div class="bg"></div>
  </div>
</div>
