<nav id="nav-logo-icon" class="navbar navbar-expand absolute-top light">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-auto mr-auto">
        <a class="navbar-brand" href="#">
          <img class="mw-100 d-none d-sm-block" alt="" src="images/logo-3.jpg" height="96">
          <img class="mw-100 d-block d-sm-none" alt="" src="images/logo-3.jpg" height="64">
        </a>
      </div>
      <div class="col-auto">
        <a href="#" class="" data-toggle="panel" data-target="#panel-logo-menu"><svg xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 0 20 20" width="20" class="icon svg-default"><path d="m0 3h20v2h-20zm0 6h16v2h-16zm0 6h12v2h-12z" fill-rule="evenodd" class=""></path></svg></a>
      </div>
    </div>
  </div>
  <div class="bg-wrap">
    <div class="bg"></div>
  </div>
</nav>
