<!DOCTYPE html>
<html>
<head>
	<title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

	{% include meta.html %}

	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

	<link rel="stylesheet" href="{{ site.baseurl }}/css/fonts.css" />
	<link rel="stylesheet" href="{{ site.baseurl }}/css/bootstrap.weber.css" />
	<link rel="stylesheet" href="{{ site.baseurl }}/css/fx.css" />
	<link rel="stylesheet" href="{{ site.baseurl }}/css/owl.carousel.css" />
	<link rel="stylesheet" href="{{ site.baseurl }}/css/magnific-popup.css" />
	<link rel="stylesheet" href="{{ site.baseurl }}/css/custom.css" />
	<link rel="stylesheet" href="{{ site.baseurl }}/css/index.css" />
	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
	
	<!-- declare javascript var from config.yml -->
	<script type='text/javascript' > 
		var siteWa = {{site.wa}}; 
	</script>
</head>

<body class="light-page">
	<div id="wrap">
		{% include topmenu.html %}
		
		{% include sidemenu.html %}
		
		{% include jumbotron.html %}
		
		{% include featuredservice.html %}
		
		{% include homeservices.html %}
		
		{% include testimonial.html %}
		
		{% include homebrands.html %}
		
		{{content}}
		
		{% include homemap.html %}
		
		{% include footer.html %}
	</div>
	
	{% include modal-home-video.html %}


	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCByts0vn5uAYat3aXEeK0yWL7txqfSMX8"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
	<script src="{{ site.baseurl }}/js/jquery-2.1.4.min.js"></script>
	<script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
	<script src="{{ site.baseurl }}/js/owl.carousel.js"></script>
	<script src="{{ site.baseurl }}/js/jquery.magnific-popup.min.js"></script>
	<script src="{{ site.baseurl }}/js/jquery.smooth-scroll.min.js"></script>
	<script src="{{ site.baseurl }}/js/instafeed.min.js"></script>
	<script src="{{ site.baseurl }}/js/twitterFetcher.js"></script>
	<script src="{{ site.baseurl }}/js/custom.js"></script>
	<script src="{{ site.baseurl }}/js/index.js"></script>
	{% include analytics.html %}
</body>
</html>
